<!DOCTYPE html>
<html>
<head>
  <title>Backend API</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload', 'recursive': false %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" %>

</head>

<body>
  <%= yield %>
</body>
</html>
